# Binary files for Mac
.DS_Store
*.o
*.out
*.app
*.dmg
.AppleDouble
.LSOverride

# Binary files for Windows
*.exe
*.dll
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.suo
*.user
Thumbs.db
ehthumbs.db
Desktop.ini

# Build directories
bin/
build/
out/
dist/
debug/
release/

# Odin specific
**/bin/
**/build/
**/out/
**/*.bin
**/*.dll
**/*.exe
**/*.o
**/*.obj
**/*.pdb
**/*.lib
**/*.a
**/*.so
**/*.dylib
**/*_temp/
**/logs/

# Executables
snake/snake
breakout/breakout

# IDE specific
.vscode/
.idea/
*.sublime-*
